html {
  height: 100%;
  width: 100%;
}

body {
  background-image: linear-gradient(#E4CBFF,#FECBFF,#FFCBE6,#FFCBCC,#FFE4CB,#FFFECB,#FFE4CB,#FFCBCC,#FFCBE6,#FECBFF,#E4CBFF);
}

#catImg {
  width: 100px;
  height: 100px;
  object-fit: fill;
}


#monster1
{
  height: 75;
  width: 75px;
}



.monster
{
  position:absolute;
  top: 0px;
  left: 0px;
z-index: 20;
}

