html {
  height: 100%;
  width: 100%;
}
body {background-color: lavenderblush;}

#catImg {
  width: 100px;
  height: 100px;
  object-fit: fill;
}


#monster1
{
  height: 75;
  width: 75px;
}



.monster
{
  position:absolute;
  top: 0px;
  left: 0px;
z-index: 20;
}